{% extends "main/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="features">
        <form method="post">
            {% csrf_token %}
            <h3>Удаление картины</h3><br>
            <h3>{{ pictures.title }}</h3>
            <div>
                <img src="{{ pictures.picture }}" alt="{{ pictures.title }}">
            </div><br>
            <p>Вы точно хотите удалить эту картину?</p>
            <button class="btn btn-danger" type="submit">Да, удалить</button>
            <a href="{% url 'gallery' %}" class="btn btn-info">Не удалять</a>
        </form>
    </div>

{% endblock %}