{% extends "main/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div>
        <h3>Галерея</h3>
        {% if pictures %}
            {% for i in pictures %}
                <div class="alert alert-warning">
                    <h3>{{ i.title }}</h3>
                    <div>
                        <img src="{{ i.picture }}" alt="{{ i.title }}">
                    </div>
                    <p>{{ i.description }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>У нас нет картин сейчас</p>
        {% endif %}

        {# Навигацилнная панель начало#}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if page_obj.has_previous %}
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    {% endif %}
                </li>
                    {% for page in page_obj.paginator.page_range %}
                        <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                            <a class="page-link" href="?page={{page}}">{{page}}</a>
                        </li>
                    {% endfor %}
                <li class="page-item">
                    {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {# Навигацилнная панель конец #}

    </div>
{% endblock %}