{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
<!--    шапка страницы-->
    <menu>
        <ul class="list">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'gallery' %}">Галерея</a></li>
            {% if user.is_authenticated %}
                <li>
                    <p>Hello, {{user.username}}</p>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Выйти</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Войти</a>
                </li>
                <li>
                    <a href="{% url 'registration' %}">Регистрация</a>
                </li>
            {% endif %}
        </ul>
    </menu>
<!--    главный контент страницы-->
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>