{% extends "main/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fugiat nihil quidem rem! Ab accusantium culpa ipsam nobis quae quaerat quis quisquam sed sunt! Ad asperiores debitis impedit numquam reiciendis?
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut cumque delectus dicta dolor dolorem eos natus nihil nobis nulla, quia quisquam quos! Ducimus eius, laboriosam natus pariatur similique ut?
    </p>
    <p>Lorem ipsum dolor sit amet,
    </p>
{% endblock %}