body {
    background: #fff;
}

nav {
    width: 545px;
    margin: 0 auto;
    position: center
}

nav:before {
    content: '';
    display: block;
    height: 50px;
    width: 545px;
    background: #fff;
    position: absolute;
    z-index: -1;
}

nav ul {
    float: center;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #000;
    display: block;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    padding: 0px 30px;
}

nav ul a:hover {
    color:#fff;
    text-decoration: none;
    background: #007BFF;
}

main {
    float: absolute;
    color: #000;
    margin-top: 60px;
    text-align: center;
    width: 100%;
}

div img {
    width: 40%;
    float: center;
}